<html>

<head>
    <title> Binary Search Tree </title>
    <link href="{{ url_for('static',filename='styles/main2.css') }}" rel="stylesheet" />
</head>

<body>

    <h1>Binary Search Tree</h1>
    <h2>List Search</h2>
    <h2>Time {{time}}</h2>
    <table class="container">
        {% for value in bst : %}
        <thead>

        </thead>
        <tbody>
            <tr>
                <td><a style="color:rgb(170, 174, 177)" href="{{value}}">{{value}}</a> </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

</body>

</html>